@import 'modern-normalize';

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
}

.container > * {
    border: 2px black solid;
}