@import 'modern-normalize';

/* Base box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Set up full-height layout */
html, body {
  height: 100%;
  line-height: 1.5;
  font-family: system-ui, -apple-system, sans-serif;
}

/* Image and media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Custom CSS */
.container {
  display: grid;
  grid-template-columns: 3fr 7fr;
  height: 100vh;
}

.container > * {
    border: 2px black solid;
}